.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: rgb(10, 10, 24);
  margin-top: 30px;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
